.container.text-center
  .card-group
    %tbody
      .card-group.card-dreport.card-dreport-show
        .card.border-info
          .card-header.text-center= dreport_responsables(@dreport) + " #{@dreport.brand} " + " #{@dreport.truck}"
          .card-body.text-center
            .card-group
              .card.border-info
                .card.card-dreport-data
                  - @dreport.tickets.each do |ticket|
                    %table
                      %td.align-middle Cliente :
                      %td.align-middle= "#{ticket.client}"
                      %td.align-middle Estado :
                      %td.align-middle= "#{ticket.status}"
                      %td.align-middle Tipo :
                      %td.align-middle= "#{ticket.kind}"
                    .card.card-dreport Observacion
                    .card-body.p-0
                      %p= "#{ticket.observation}"

          - if @dreport.close?
            .card.card-dreport News
            .card-body
              %p= "#{@dreport.news}"
          - else
            .card.border-success
              .card-header.text-center News
              .card-body.p-0.text-center
                %br
                = form_with url: close_dreport_path(@dreport) do |f|
                  = f.text_field :news
                  = button_tag(type: 'submit', class: "btn btn-primary") do
                    = fa_icon "paper-plane", text: "Send", right: true, class: "fa-lg"
                %br
