= simple_form_for @team, remote: true, html: {class:"form-horizontal"} do |f|
  = f.error_notification
  .card
    .card-header.border-primary.text-center TEAM
    .card-body.text-center
      .form-control
        .form-inline
          %tr
            .col-3
              %th  Date
            .col-3
              %th  Nº truck
            .col-6
              %th  Responsables
        %br
        .form-inline
          %tr
            .col-3
              %td= f.date_field :date, :title => "date", :value => Date.today,
                  :placeholder => 'dd/mm/yyyy',
                  :class => "form-control-datepicker"
            .col-3
              %td= f.collection_select :truck_id, @trucks, :id, :number, {include_blank: true, :prompt => 'Number'}
            .col-6
              %td= f.collection_select :user_ids, @users, :id, :email, {include_blank: true}, {multiple: true}

  .card
    .card-header.border-primary.text-center Ticket´s
    .card-body.text-center
      .form-control
        .form-inline
          %tr
            .col-3
              %td  Nº ticket
            .col-3
              %td  Client
            .col-3
              %td  Kind
            .col-3
              %td  Trash
      %br
      %table
        %tbody
          = f.simple_fields_for :claims do |claim|
            = render 'claim_fields', :f => claim
          %button_tag
            = link_to_add_association ' ', f, :claims, class: 'fa fa-plus-square fa-lg'
  %br
  %br
  .form-group.text-center
    = f.submit  @team.new_record? ? "Create Team" : "Update Team",
    :class => "btn btn-primary"
