= simple_form_for @team, remote: true, html: {class:"form-horizontal"} do |f|
  = f.error_notification
  .card
    .card-header.border-primary.text-center TEAM
    .card-body.text-center
      %table.table.table-striped
        %thead
          %tr.row.m-0
            %th.d-inline-block.col-3 Date
            %th.d-inline-block.col-3 Nº truck
            %th.d-inline-block.col-6 Responsables
        %tbody
          %tr.row.m-0
            %td.d-inline-block.col-3= f.date_field :date,
              :title => "date", :value => Date.today,
              :placeholder => 'dd/mm/yyyy',
              :class => "form-control-datepicker text-center"
            %td.d-inline-block.col-3= f.collection_select :truck_id,
              @trucks, :id, :number, {include_blank: true}
            %td.d-inline-block.col-6= f.collection_select :user_ids,
              @users, :id, :email, {include_blank: true}, {multiple: true}
  .card
    .card-header.border-primary.text-center Ticket´s
    .card-body.text-center
      %table.table.table-striped
        %thead
          %tr.row.m-0
            %th.d-inline-block.col-4 Nº ticket
            %th.d-inline-block.col-4 Client
            %th.d-inline-block.col-2 Kind
            %th.d-inline-block.col-2 Trash
        %tbody
          = f.simple_fields_for :claims do |claim|
            = render 'claim_fields', :f => claim
      %button_tag
        = link_to_add_association ' ', f, :claims, class: 'fa fa-plus-square fa-lg'
  %br
  %br
  .form-group.text-center
    = f.submit  @team.new_record? ? "Create Team" : "Update Team",
    :class => "btn btn-primary"
