= simple_form_for @team, remote: true, html: {class: "form-group"} do |f|
  = f.error_notification
  = f.input :date
  = f.input :truck
  = f.input :user_ids, as: :Select2,   |
    label: 'Resposables',              |
    label_method: :email,              |
    collection: @users,                |
    multiple: true,                    |
    maximumSelectionLength: 2,         |
    input_html: {id: 'team_user_ids'} |
  = f.simple_fields_for :claims do |claim|
    = render 'claim_fields', :f => claim
  %button_tag
    = link_to_add_association button_tag('', type: "button", class: "+"), f, :claims

  %br/
  %br/
  .form-group
    = f.submit  @team.new_record? ? "Create Team" : "Update Team",
    :class => "btn btn-primary"
