.div{:id => "team_#{team.id}"}
  %a{"data-parent" => "#accordion", "data-toggle" => "collapse",
   :href => "#collapse#{team.id}", :id => "but"}
    %table.table.table-bordered.table-striped{:id => ""}
      %thead.text-center
        %tr
          %th= fa_icon "ticket", text: "Ticket", right: true, class: "fa-lg"
          %th= fa_icon "tag", text: "Client", right: true, class: "fa-lg"
          %th= fa_icon "vcard-o", text: "Responsables", right: true, class: "fa-lg"
          %th= fa_icon "wrench", text: "Actions", right: true, class: "fa-lg"
        %tr
          %td= fa_icon "ticket", text: "#{team.date}", right: true, class: "fa-1x"
          %td= fa_icon "tag", text: "#{team.truck}", right: true, class: "fa-1x"
          %td
            = fa_icon "vcard-o", text: "#{team.responsables.first.email}", right: true, class: "fa-1x"
            - unless team.has_responsable?
              = " - " + team.responsables.second.email
          %th
            = link_to edit_team_path(team), :remote => true do
              = fa_icon "edit", right: true, class: "fa-1x"
            &nbsp
            = link_to '', team, remote: true, :method => :delete,                                          |
              class:"fa fa-trash fa-1x",                                                            |
              data: {confirm: "Delete: "+"[ Date:"+" #{team.date} ]-"+"[ Truck:"+" #{team.truck} ]", |
              verify: "#{team.truck}", verify_text: "Type: " + " '#{team.truck}' " + "to confirm"}       |
    .panel-collapse.collapse.border-collapse{:id => ("collapse#{team.id}")}
      .panel-body
        %table.table.table-bordered.table-striped{:id => ""}
          %thead.text-center
            %tr
              %th= fa_icon "ticket", text: "Ticket", right: true, class: "fa-1x"
              %th= fa_icon "tag", text: "Cliente", right: true, class: "fa-1x"
              %th= fa_icon "wrench", text: "Actions", right: true, class: "fa-1x"
          %tbody
            - team.claims.each do |claim|
              %tr
                %td= claim.ticket
                %td= claim.client
                %td
                  = link_to edit_claim_path(claim), :remote => true do
                    = fa_icon "edit", right: true, class: "fa-1x"
                  &nbsp
                  = link_to '', claim, remote: true, :method => :delete,                                          |
                    class:"fa fa-trash fa-1x",                                                            |
                    data: {confirm: "Delete: "+"[ Ticket:"+" #{claim.ticket} ]-"+"[ Client:"+" #{claim.client} ]", |
                    verify: "#{claim.client}", verify_text: "Type: " + " '#{claim.client}' " + "to confirm"}
