.card.border-info{:id => "team_#{team.id}"}
  #accordion
    .card
      .card-header.bg-info{:id => ("heading#{team.id}")}
        .row
          .col-4
          .col-4
            %h5 Team
          .col-4
            - if team.finished?
              .float-right
                = link_to dreports_path do
                  = fa_icon "check-circle", text: "Daily Report",right: true, class: "fa-1x"
      .card-body.p-0
        %table.table
          %thead
            %tr
              %th= fa_icon "calendar", text: "Date", right: true, class: "fa-lg"
              %th= fa_icon "truck", text: "Truck", right: true, class: "fa-lg"
              %th= fa_icon "vcard-o", text: "Responsables", right: true, class: "fa-lg"
              %th= fa_icon "cogs", text: "Actions", right: true, class: "fa-lg"
          %tbody
            %tr
              %td= team.date_format
              %td= team_truck(team)
              %td= team_responsables(team)
              %td
                = link_to edit_team_path(team), :remote => true do
                  = fa_icon "pencil-square-o", class: "fa-1x"
                &nbsp
                = link_to '', team, remote: true, :method => :delete,                                          |
                  class:"fa fa-trash fa-1x",                                                            |
                  data: {confirm: "Delete: "+"[ Date:"+" #{team.date} ]-"+"[ Truck:"+" #{team.truck} ]", |
                  verify: "#{team.truck.number}", verify_text: "Type: " + " '#{team.truck.number}' " + "to confirm"}

                %span.btn.btn-default
                  %i{class: "fa fa-angle-double-down","aria-controls" => "team_#{team.id}", "aria-expanded" => "true", "data-target" => "#team#{team.id}", "data-toggle" => "collapse"}


      .collapse{:id => ("team#{team.id}"), "aria-labelledby" => "heading#{team.id}", "data-parent" => "#accordion"}
        .card-body
          %table.table
            %thead
              %tr.bg-info
                %th.d-inline-block.col-2= fa_icon "file-text-o", text: "Type", class: "fa-lg"
                %th.d-inline-block.col-2= fa_icon "ticket", text: "Ticket", class: "fa-lg"
                %th.d-inline-block.col-2= fa_icon "male", text: "Client", class: "fa-lg"
                %th.d-inline-block.col-2= fa_icon "bolt", text: "Status", class: "fa-lg"
                %th.d-inline-block.col-1= fa_icon "clock-o", text: "Start", class: "fa-lg"
                %th.d-inline-block.col-1= fa_icon "clock-o", text: "End", class: "fa-lg"
                %th.d-inline-block.col-2= fa_icon "cogs", text: "Actions", class: "fa-lg"
          %table.table.table-striped
            %tbody
            - unless team.claims.nil?
              - team.claims.each do |claim|
                %tr.text-center
                  %td.d-inline-block.col-2= claim.kind
                  %td.d-inline-block.col-2= claim.ticket
                  %td.d-inline-block.col-2= claim.client
                  %td.d-inline-block.col-2= claim.status
                  %td.d-inline-block.col-1= claim.starts
                  %td.d-inline-block.col-1= claim.ends
                  %td.d-inline-block.col-2
                    - if claim.finalizado? || claim.contactado?
                      = link_to claim_path(claim), :remote => true do
                        = fa_icon "eye", right: true, class: "fa-lg"
                    - elsif claim.en_curso?
                      = fa_icon "wrench", class: "fa-lg"
                    - elsif incomplete?(claim)
                      = link_to claim_path(claim), :remote => true do
                        = fa_icon "bolt", class: "fa-lg"
                    - else
                      = fa_icon "hourglass-start", class: "fa-lg"
                    &nbsp
                    - if claim.has_history?
                      = link_to history_claim_path(claim) do
                        = fa_icon "history", class: "fa-lg"
    .progress
      .progress-bar.bg-default.progress-bar-striped.progress-bar-animated{:style => "width: 15%"}
        progress:
      .progress-bar.bg-success.progress-bar-striped.progress-bar-animated{:style => "width: #{team.progress_bar}%"}
        #{team.percent}%
%br
%br
