= render 'dialog'
.card-home-technicial
  .card
    .row
      .col-4
      .col-4
      .col-4
        -if @team.finished?
          .float-right
            = link_to current_dreport_path do
              = fa_icon "check-circle", right: true, class: "fa-1x"
    .card-body.p-0
      %table.table
        %thead
          %tr
            %th= fa_icon "truck", text: "", right: true, class: "h_t_truck fa-lg"
            %th= fa_icon "users", text: "", right: true, class: "h_t_users fa-lg"
        %tbody
          %tr
            %td= team_truck(@team)
            %td.td-responsibles-movile{:align => "justify"}
              = team_responsables(@team)
            %td.td-responsibles-pc
              = team_responsables(@team)
    .card-body
      %table.table.table-striped
        %thead
          %tr.bg-info
            %th= fa_icon "file-text-o", text: "Type", class: "fa-lg"
            %th.th-ticket= fa_icon "ticket", text: "Ticket", class: "fa-lg"
            %th= fa_icon "male", text: "Client", class: "fa-lg"
            %th= fa_icon "cogs", text: "Actions", class: "fa-lg"

        - unless @team.claims_order_working.empty?
          %tbody
            %tr
              %td
              %td
                Working
            = render @team.claims_order_working

        - unless @team.claims_order_pending.empty?
          %tbody
            %tr
              %td
              %td
                Pending
            = render @team.claims_order_pending

        - unless @team.claims_order_concluded.empty?
          %tbody
            %tr
              %td
              %td
                Concluded
            = render @team.claims_order_concluded
  .progress
    .progress-bar.bg-default.progress-bar-striped.progress-bar-animated{:style => "width: 15%"}
      progress:
    .progress-bar.bg-success.progress-bar-striped.progress-bar-animated{:style => "width: #{@team.progress_bar}%"}
      #{@team.percent}%
  %br
  - unless @team.finished?
    .end-shift
      = link_to 'END SHIFT', shift_dreport_path(@team),method: :get, |
        :class => "btn btn-outline-success btn-sm end-shift",                                       |
        data: {confirm: "End Shift Team => "+" '' #{@team.date_format} '' - "+" '' #{@team.truck.brand} " + " " + "#{@team.truck.number} '' ", |
        verify: "#{@team.truck.number}", verify_text: "Type: " + " '#{@team.truck.number}' " + "to confirm"}
