.card-home-technicial
  .card
    .row
      .col-4
      .col-4
      .col-4
        -if @team.finished?
          .float-right
            = link_to current_dreport_path do
              = fa_icon "check-circle", right: true, class: "fa-1x"
    .card-body.p-0
      %table.table
        %thead
          %tr
            %th= fa_icon "truck", text: "Truck", right: true, class: "h_t_truck fa-lg"
            %th= fa_icon "vcard-o", text: "Responsables", right: true, class: "h_t_responsables fa-lg"
        %tbody
          %tr
            %td= team_truck(@team)
            %td= team_responsables(@team)
    .card-body
      %table.table
        %thead
          %tr.bg-info
            %th= fa_icon "file-text-o", text: "order", class: "fa-lg"
            %th= fa_icon "file-text-o", text: "Type", class: "fa-lg"
            %th.th-ticket= fa_icon "ticket", text: "Ticket", class: "fa-lg"
            %th= fa_icon "male", text: "Client", class: "fa-lg"
            %th= fa_icon "cogs", text: "Actions", class: "fa-lg"
        %tbody
          - unless @team.claims.nil?
            = render @team.claims_order_working
        %tbody#claims
          - unless @team.claims.nil?
            = render @team.claims_order_pending
        %tbody
          - unless @team.claims.nil?
            = render @team.claims_order_concluded
  .progress
    .progress-bar.bg-default.progress-bar-striped.progress-bar-animated{:style => "width: 15%"}
      progress:
    .progress-bar.bg-success.progress-bar-striped.progress-bar-animated{:style => "width: #{@team.progress_bar}%"}
      #{@team.percent}%
  %br
  - unless @team.finished?
    .end-shift
      %button_tag= link_to 'END SHIFT', shift_dreport_path(@team),
      method: :get, :class => "btn btn-outline-success btn-sm end-shift"


= render 'dialog'
