%h4 Home #{@user.roles.first.name} - #{@user.email}
.container.text-center
  = link_to new_team_path, :remote => true do
    = fa_icon "plus-square-o", text: "", right: true, class: "fa-lg"
  .new-team#teams
    %tbody
      = render @teams

= render 'dialog'
