.container
  %h2.text-center Teams
  .card.card-block.bg-faded.text-center
    = link_to new_team_path, :remote => true do
      = fa_icon "plus-square-o", text: "NEW TEAM", right: true, class: "fa-lg"
  .new-claim
  %table.table.table-bordered.table-striped{:id => ""}
    %thead.text-center
      %tr
        %th= fa_icon "ticket", text: "date", right: true, class: "fa-lg"
        %th= fa_icon "tag", text: "truck", right: true, class: "fa-lg"
        %th= fa_icon "vcard-o", text: "Responsables", right: true, class: "fa-lg"
        %th= fa_icon "wrench", text: "Actions", right: true, class: "fa-lg"
    %tbody#teams
      = render @teams
  = render 'dialog'
  %br
  %br
  .row
    .col-1
      %i.fa.fa-calendar.fa-lg
    .col-10#calendar
    .col-1
      &nbsp&nbsp
      %i.fa.fa-calendar.fa-lg
