= form_for @profile do |ff|
  .card-group
    .card
      .card-header.text-center
      .card-group
        .card.border-info
          .card-body.text-center
            .card-header PERSONAL DATA
            .card-body.p-0
              %table.table.table-striped
                %thead
                  %tr.row.m-0
                    %th.d-inline-block.col-12 First name
                  %tr.row.m-0
                    %td.d-inline-block.col-12
                      = ff.text_field :first_name, class: 'form-control text-center'
                    %th.d-inline-block.col-12 Last name
                    %td.d-inline-block.col-12
                      = ff.text_field :last_name, class: 'form-control text-center'
                  %tr.row.m-0
                    %th.d-inline-block.col-12 Date of birth
                  %tr.row.m-0
                    %td.d-inline-block.col-12
                      = ff.date_field :date_of_birth, class: 'form-control-datepicker'
  .card.text-center
    %p= ff.submit 'Save', :class => "btn btn-outline-success btn-sm "
