.card
  .card-header.text-center
    .row
      .col-4
      .col-4
        Account
      .col-4
        .float-right
          = link_to destroy_user_session_path, :method => :delete do
            = fa_icon "power-off", class: "fa-lg"
  .card-body
    = form_for @profile do |ff|
      .text-center
        .form-group
          = ff.label :first_name
          = ff.text_field :first_name, class: 'form-control'
        .form-group
          = ff.label :last_name
          = ff.text_field :last_name, class: 'form-control'
        .form-group
          = ff.label :date_of_birth
          = ff.date_field :date_of_birth, class: 'form-control-datepicker'

        %p= ff.submit 'Save', :class => "btn btn-outline-success btn-sm "
