.card-group
  .card.border-info
    .card-header.text-center
      .row
        .col-4
        .col-4
          Profile
        .col-4
          .float-right
            = link_to destroy_user_session_path, :method => :delete do
              = fa_icon "power-off", class: "fa-lg"
    .card-body.p-0
      %nav.nav.nav-tabs.nav-justified
        %a.nav-item.nav-link.active{"data-toggle" => "tab", :href => "#account"} Account
        %a.nav-item.nav-link{"data-toggle" => "tab", :href => "#change"} Change
      .tab-content
        #account.tab-pane.fade.show.active
          .card
            %h6 Aca estarian mis datos

        #change.tab-pane.fade
          .card.text-center
            = form_for @profile do |ff|
              .form-group
                = ff.label :first_name
                = ff.text_field :first_name, class: 'form-control text-center'
              .form-group
                = ff.label :last_name
                = ff.text_field :last_name, class: 'form-control text-center'
              .form-group
                = ff.label :date_of_birth
                = ff.date_field :date_of_birth, class: 'form-control-datepicker'

              %p= ff.submit 'Save', :class => "btn btn-outline-success btn-sm "
