.card-group
  .card
    .card-header.text-center
    .card-group
      .card.border-info
        .card-body.text-center
          .card-header PERSONAL DATA
          .card-body.p-0
            %table.table.table-striped
              %thead
                %tr.row.m-0
                  %th.d-inline-block.col-6 Name
                  %th.d-inline-block.col-6 Last Name
              %thead
                %tr.row.m-0
                  %td.d-inline-block.col-6
                    - unless @profile.first_name.nil?
                      = @profile.first_name
                  %td.d-inline-block.col-6
                    - unless @profile.last_name.nil?
                      = @profile.last_name

          .card-header DATE
          .card-body.p-0
            %table.table.table-striped
              %thead
                %tr.row.m-0
                  %th.d-inline-block.col-6 DNI
                  %th.d-inline-block.col-6 Date of Birth
                %tr.row.m-0
                  %td.d-inline-block.col-6
                    - unless @profile.dni.nil?
                      = @profile.dni
                  %td.d-inline-block.col-6
                    - unless @profile.date_of_birth.nil?
                      = @profile.date_of_birth.strftime("%d - %m - %Y")

      .card.border-info
        .card-body.text-center
          .card-header TECHNICAL DATA
          .card-body.p-0
            %table.table.table-striped
              %thead
                %tr.row.m-0
                  %th.d-inline-block.col-6 Area
                  %th.d-inline-block.col-6 Rol
                %tr.row.m-0
                  %td.d-inline-block.col-6 Tecnica
                  %td.d-inline-block.col-6
                    - if @user.has_role? :technician
                      = "Tecnico Soporte Exterior"
                    - elsif @user.has_all_roles? :dir, :chief
                      = " Jefe - Dir "
                    - else
                      = "Dir"
          .card-header VEHICLE DATA
          .card-body.p-0
            %table.table.table-striped
              %thead
                %tr.row.m-0
                  %th.d-inline-block.col-6 Current Vehicle
                  %th.d-inline-block.col-6 Key
                %tr.row.m-0
                  %td.d-inline-block.col-6 Hilux Nº 21
                  %td.d-inline-block.col-6
                    - unless @profile.vehicle_key.nil?
                      = @profile.vehicle_key

.card-footer.text-muted
  .card-header.text-center AUTHORIZE
  .card-body.p-0.text-center
    %br
    %h6 COTESMA - Cooperativa Telefonica San Martin de los Andes
