#cn-wrapper.cn-wrapper
  %ul
    %li
      %a{"data-method" => "delete", :href => "/users/sign_out"}
        %i.fa.fa-power-off{:title =>"Sing out", "aria-hidden" => "true"}
    //%li{":class" => ""}
    //  current_class?(profile_path)&gt;
    //  %a{:href => "/teams/home_dir"}
    //    %i.fa.fa-line-chart{:title =>"Dashboard", "aria-hidden" => "true"}

    %li
      = link_to search_team_path, :remote => true do
        = fa_icon "search", class: "fa-lg", :title =>"New Team"

    - if current_page?(dir_team_path)
      %li
        = link_to new_team_path, :remote => true do
          = fa_icon "users", class: "fa-lg", :title =>"New Team"
    - else
      %li
        %a{:href => "/teams/home_dir"}
          %i.fa.fa-home{:title =>"Home", "aria-hidden" => "true"}

    %li
      %a{:href => "/events"}
        %i.fa.fa-calendar{:title =>"Calendar", "aria-hidden" => "true"}
    %li
      = link_to edit_profile_path, :remote => true do
        = fa_icon "user", class: "fa-lg", :title =>"Profile"
#cn-overlay.cn-overlay
