.card-group.card-dreport
  .card.border-info
    .card-header.text-center
      = dreport_responsables(dreport) + " #{dreport.brand} " + "#{dreport.truck}"
      %span.btn.btn-default
      %i{class: "fa fa-angle-double-down btn btn-outline-primary","aria-controls" => "dreport_#{dreport.id}", "aria-expanded" => "true", "data-target" => "#dreport#{dreport.id}", "data-toggle" => "collapse"}


    .collapse{:id => ("dreport#{dreport.id}"), "aria-labelledby" => "heading#{dreport.id}", "data-parent" => "#accordion"}
      .card-body.text-center

        - dreport.tickets_order_start_at.each do |ticket|
          .card-group
            .card.card-dreport-container
              .card.card-dreport-data
                %table.table.table-striped
                  %thead
                    %tr.row.m-0
                      %th.d-inline-block.col-3 Nº Ticket
                      %th.d-inline-block.col-3 Client
                      %th.d-inline-block.col-2 Status
                      %th.d-inline-block.col-2 Type
                      %th.d-inline-block.col-2 Hour
                  %thead
                    %tr.row.m-0
                      %td.d-inline-block.col-3= "#{ticket.number}"
                      %td.d-inline-block.col-3= "#{ticket.client}"
                      %td.d-inline-block.col-2= "#{ticket.status}"
                      %td.d-inline-block.col-2= "#{ticket.kind}"
                      %td.d-inline-block.col-2= "#{ticket.starts}" + " " + "#{ticket.end}"
              .card.card-dreport
                .row
                  .col-4
                  .col-4
                    %p Observation
                  .col-4
                    .float-right
                      = link_to ticket_path(ticket), :remote => true do
                        = fa_icon "eye", right: true, class: "fa-lg btn btn-outline-info"
                      &nbsp
                      - if ticket.has_history?
                        = link_to history_ticket_path(ticket) do
                          = fa_icon "history", class: "fa-lg btn btn-outline-info"
              .card-body.p-0
                %p= "#{ticket.observation}"

    .card.card-dreport  News
    .card-body
      %p= "#{dreport.news}"
