= render 'dialog'
.container.text-center.container-dreport-show
  .card-group
    %tbody
      .card-group.card-dreport.card-dreport-show
        .card.border-info
          .card-header.text-center
            = dreport_responsables(@dreport)
            %br
            = @dreport.brand
            =@dreport.truck
          .card-body.text-center
            - @dreport.tickets_order_start_at.each do |ticket|
              .card-group
                .card.card-dreport-container
                  .card.card-dreport-data
                    %table.table.table-striped
                      %thead
                        %tr.row.m-0
                          %th.d-inline-block.col-3 Nº ticket
                          %th.d-inline-block.col-3 Client
                          %th.d-inline-block.col-3 Type
                          %th.d-inline-block.col-3 Hour
                      %thead
                        %tr.row.m-0
                          %td.d-inline-block.col-3= "#{ticket.number}"
                          %td.d-inline-block.col-3= "#{ticket.client}"
                          %td.d-inline-block.col-3= "#{ticket.kind}"

                          %td.d-inline-block.col-2= "#{ticket.starts}" + " " + "#{ticket.end}"
                  .card.card-dreport
                    .row
                      .col-4
                      .col-4
                        %p Observation
                      .col-4

                  .card-body.p-0
                    %p= "#{ticket.observation}"
                  .card-footer
                    = link_to ticket_path(ticket), :remote => true do
                      = fa_icon "eye", right: true, class: "fa-lg btn btn-info"
                    &nbsp
                    - if ticket.has_history?
                      = link_to history_ticket_path(ticket) do
                        = fa_icon "history", class: "fa-lg btn btn-info"

          - if @dreport.closed?
            .card.card-dreport News
            .card-body
              %p= "#{@dreport.news}"
          - else
            .card
              .card News
              .card-body.p-0.text-center
                %br
                = form_with url: close_dreport_path(@dreport) do |f|
                  = f.text_area :news
                  %br
                  = button_tag(type: 'submit', class: "btn btn-success") do
                    = fa_icon "paper-plane", text: "Send", right: true, class: "fa-lg"
                %br
