.container.text-center
  .card-group
    %tbody
      .card-group.card-dreport.card-dreport-show
        .card.border-info
          .card-header.text-center
            = dreport_responsables(@dreport)
            %br
            = @dreport.brand
            =@dreport.truck
          .card-body.text-center
            - @dreport.tickets_order_start_at.each do |ticket|
              .card-group
                .card.card-dreport-container
                  .card.card-dreport-data
                    %table.table.table-striped
                      %thead
                        %tr.row.m-0
                          %th.d-inline-block.col-3 Client
                          %th.d-inline-block.col-3 Status
                          %th.d-inline-block.col-3 Type
                          %th.d-inline-block.col-3 Hour
                      %thead
                        %tr.row.m-0
                          %td.d-inline-block.col-3= "#{ticket.client}"
                          %td.d-inline-block.col-3= "#{ticket.status}"
                          %td.d-inline-block.col-3= "#{ticket.kind}"
                          %td.d-inline-block.col-3= "#{ticket.starts}" + " - " + "#{ticket.starts}"
                  .card.card-dreport Observation
                  .card-body.p-0
                    %p= "#{ticket.observation}"


          - if @dreport.closed?
            .card.card-dreport News
            .card-body
              %p= "#{@dreport.news}"
          - else
            .card
              .card News
              .card-body.p-0.text-center
                %br
                = form_with url: close_dreport_path(@dreport) do |f|
                  = f.text_area :news
                  %br
                  = button_tag(type: 'submit', class: "btn btn-outline-success") do
                    = fa_icon "paper-plane", text: "Send", right: true, class: "fa-lg"
                %br
