.container.text-center
  .card-group
    %tbody
      .card-group.card-dreport.card-dreport-show
        .card.border-info
          .card-header.text-center= dreport_responsables(@dreport) + " #{@dreport.brand} " + "#{@dreport.truck}"
          .card-body.text-center
            - @dreport.tickets.each do |ticket|
              .card-group
                .card.card-dreport-container
                  .card.card-dreport-data
                    %table
                      %td.align-middle Cliente :
                      %td.align-middle= "#{ticket.client}"
                      %td.align-middle Estado :
                      %td.align-middle= "#{ticket.status}"
                      %td.align-middle Tipo :
                      %td.align-middle= "#{ticket.kind}"
                  .card.card-dreport Observacion
                  .card-body.p-0
                    %p= "#{ticket.observation}"


          - if @dreport.closed?
            .card.card-dreport News
            .card-body
              %p= "#{@dreport.news}"
          - else
            .card
              .card News
              .card-body.p-0.text-center
                %br
                = form_with url: close_dreport_path(@dreport) do |f|
                  = f.text_area :news
                  %br
                  = button_tag(type: 'submit', class: "btn btn-primary") do
                    = fa_icon "paper-plane", text: "Send", right: true, class: "fa-lg"
                %br
