<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @truck.number %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @truck.brand %>
</p>

<%= link_to 'Edit', edit_truck_path(@truck) %> |
<%= link_to 'Back', trucks_path %>
