%tr.text-center{:id => "claim_#{claim.id}"}
  %td= claim.kind
  %td= claim.ticket
  %td= claim.client
  %td= claim.status
  %td= claim.starts
  %td= claim.ends
  %td
    - if concluded?(claim)
      = link_to claim_path(claim), :remote => true do
        = fa_icon "eye", right: true, class: "fa-lg"
    - elsif claim.en_curso?
      = fa_icon "spinner", class: "fa-lg"
    - else
      = link_to '', claim, remote: true, :method => :delete,                                           |
        class:"fa fa-trash fa-lg",                                                                     |
        data: {confirm: "Delete: "+"[ Ticket:"+" #{claim.ticket} ]-"+"[ Client:"+" #{claim.client} ]", |
        verify: "#{claim.client}", verify_text: "Type: " + " '#{claim.client}' " + "to confirm"}       |
