.form-inline.justify-content-center
  %p
    %strong Ticket:
    = @claim.ticket
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  %p
    %strong Client :
    = @claim.client
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  %p
    %strong Kind :
    = @claim.kind

= simple_form_for @claim, remote: true, html: {class: "form-horizontal"} do |f|
  = f.error_notification
  .form-inline.justify-content-center
    .form-control
      = f.label :starts_at
      %br
      = f.time_select :starts_at, {:ampm => true, :default => Time.now.change(:hour => 23, :min => 59)}
    .form-control
      = f.label :ends_at
      %br
      = f.time_select :ends_at, {:ampm => true, :default => Time.now.change(:hour => 23, :min => 59)}
  %br
  %br
  .form-control.text-center
    = f.label :jobs
    = f.collection_select :job_ids, @jobs, :id, :title , {include_blank: true}, {multiple: true}
  %br
  %br
  .form-control.text-center
    = f.label :measures
    = f.simple_fields_for :measures do |measure|
      = render 'measure_fields', :f => measure
    %button_tag
      = link_to_add_association ' ', f, :measures, class: 'fa fa-plus-square fa-lg'
  %br
  %br
  .form-control.text-center
    = f.label :materials
    %br
    = f.simple_fields_for :materials do |material|
      = render 'material_fields', :f => material
    %button_tag
      = link_to_add_association ' ', f, :materials, class: 'fa fa-plus-square fa-lg'
  %br
  %br
  .form-group
    .float-left
      = f.submit  @claim.new_record? ? "Create Claim" : "Update",
      :class => "btn btn-outline-primary"

    .float-right
      %button_tag= button_to 'Contact to', contact_to_claim_path(@claim),
      method: :post, :class => "btn btn-outline-info btn-sm "
    .float-right
      %button_tag= button_to 'Review', review_claim_path(@claim),
      method: :post, :class => "btn btn-outline-danger btn-sm "
    .float-right
      %button_tag= button_to 'Finished', finished_claim_path(@claim),
      method: :post, :class => "btn btn-outline-success btn-sm "
