= simple_form_for @claim, remote: true, html: {class: "form-group"} do |f|
  = f.error_notification
  .form-inline.justify-content-center
    .form-control
      = f.label :ticket
      %br
      = f.input_field :ticket, class: 'text-center'
      &nbsp
    .form-control
      = f.label :client
      %br
      = f.input_field :client, class: 'text-center'
  %br
  %br
  .form-inline.justify-content-center
    .form-control
      = f.label :starts_at
      %br
      = f.time_select :starts_at, {:ampm => true, :default => Time.now.change(:hour => 23, :min => 59)}
    .form-control
      = f.label :status
      %br
      = f.select :status, @statuses
    .form-control
      = f.label :ends_at
      %br
      = f.time_select :ends_at, {:ampm => true, :default => Time.now.change(:hour => 23, :min => 59)}
  %br
  %br
  .text-center
    = f.collection_select :job_ids, @jobs, :id, :title , {include_blank: true}, {multiple: true}
  %br
  %br
  .form-group.text-center
    = f.submit  @claim.new_record? ? "Create Claim" : "Update",
    :class => "btn btn-primary"
h
