.row
= simple_form_for @claim do |f|
  = f.association :users, as: :select,
                  value_method: :id, label_method: :email,
                  multiple: true, input_html: { class: 'select2-multiple' }
  = f.input :ticket

  = f.input :client

  = f.button :submit
