= simple_form_for @claim, remote: true, html: {class: "form-group"} do |f|
  = f.error_notification
  .form-group
    = f.input :ticket
    = f.input :client
    = f.input :status, collection: @statuses
    .form-control
      = f.label :starts_at
      %br
      = f.time_select :starts_at, {:ampm => true, :default => Time.now.change(:hour => 23, :min => 59)}
    .form-control
      = f.label :ends_at
      %br
      = f.time_select :ends_at, {:ampm => true, :default => Time.now.change(:hour => 23, :min => 59)}
  .form-group
    = f.submit  @claim.new_record? ? "Create Claim" : "Update Claim",
    :class => "btn btn-primary"
