.card-group
  .card.border-info
    .card-header.text-center
      %h4
        %i TICKET
    .card-body.text-center
      .card-header
        %b #{@claim.date}   &nbsp&nbsp  >> #{@claim.starts}  -  #{@claim.ends} <<
      .card-body.p-0
        %table.table.table-hover.mb-0
          %thead
            %tr
              %th.align-middle Type
              %th.align-middle Nº Ticket
              %th.align-middle Client
              %th.align-middle Status
          %tbody
            %tr
              %td.align-middle #{@claim.kind}
              %td.align-middle #{@claim.ticket}
              %td.align-middle #{@claim.client}
              %td.align-middle #{@claim.status}
      .card-header
      .card-body.p-0
        %table.table.table-hover.mb-0
          %thead
            %tr.row.m-0
              %th.d-inline-block.col-8 Responsables
              %th.d-inline-block.col-4 Author
          %tbody
            %tr.row.m-0
              %td.d-inline-block.col-8= claim_resposables(@claim)
              %td.d-inline-block.col-4 #{@claim.author.email}

= simple_form_for @claim, remote: true, html: {class: "form-horizontal"} do |f|
  .card-group
    .card.border-info
      .card-body.text-center

        .card-header Jobs
        .card-body.p-0
          %table.table.table-hover.mb-0
            %tbody
              %tr
                %td.align-middle
                  = f.collection_select :job_ids, @jobs, :id, :title ,
                  {include_blank: true}, {multiple: true}

        .card-header Materials
        .card-body.p-0
          %table.table.table-striped
            %thead
              %tr.row.m-0
                %th.d-inline-block.col-6 Item
                %th.d-inline-block.col-5 Quantity
                %th.d-inline-block.col-1
                  = fa_icon "trash", class: "fa-lg"
            %tbody
              = f.simple_fields_for :materials do |material|
                = render 'material_fields', :f => material
          %button_tag
            = link_to_add_association ' ', f, :materials,
            class: 'fa fa-plus-square fa-lg'

    .card.border-info
      .card-body.text-center
        .card-header Measures
        .card-body.p-0
          %table.table.table-striped
            %thead
              %tr.row.m-0
                %th.d-inline-block.col-4 Point
                %th.d-inline-block.col-6 Log
                %th.d-inline-block.col-1
                  = fa_icon "trash", class: "fa-lg"
            %tbody
              = f.simple_fields_for :measures do |measure|
                = render 'measure_fields', :f => measure
          %button_tag
            = link_to_add_association ' ', f, :measures,
            class: 'fa fa-plus-square fa-lg'

  .card-group
    .card.border-info
      .card-header.text-center
      .card-body.p-0
        %table.table.table-hover.mb-0
          %tbody
            %tr
              %td.align-middle= f.input :observation, class: 'form-control'
      .card-footer.text-center
        %small.text-muted
      = f.submit  @claim.new_record? ? "Create Claim" : "Ok",
      :class => "btn btn-outline-primary"
  .card-group
    .card.border-info
      .card-header.text-center
      .card-body.p-0
        %nav.nav.nav-tabs.nav-justified
          %a.nav-item.nav-link.active{"data-toggle" => "tab", :href => "#real-time"} Real Time
          %a.nav-item.nav-link{"data-toggle" => "tab", :href => "#off-line"} Off-Line
        .tab-content
          #off-line.tab-pane.fade
            .form-inline.justify-content-center
              .card
                .card-body.p-0
                  = f.label :starts_at
                  %br
                  = f.time_select :starts_at, {:ampm => true, :default => Time.now.change(:hour => 23, :min => 59)}
              .card
                .card-body.p-0
                  = f.label :ends_at
                  %br
                  = f.time_select :ends_at, {:ampm => true, :default => Time.now.change(:hour => 23, :min => 59)}
              .card
                .card-body.p-0
                  .float-right
                    = f.submit  @claim.new_record? ? "Create Claim" : "Visited",
                    :class => "btn btn-outline-info btn-sm "
                  .float-right
                    = f.submit  @claim.new_record? ? "Create Claim" : "Inspect",
                    :class => "btn btn-outline-danger btn-sm "
                  .float-right
                    = f.submit  @claim.new_record? ? "Create Claim" : "Close",
                    :class => "btn btn-outline-success btn-sm "
          #real-time.tab-pane.fade.show.active
            .form-inline.justify-content-center
              .card
                .card-body.p-0
                  .float-right
                    = f.submit  @claim.new_record? ? "Create Claim" : "Contact to",
                    :class => "btn btn-outline-info btn-sm "
                  .float-right
                    = f.submit  @claim.new_record? ? "Create Claim" : "Review",
                    :class => "btn btn-outline-danger btn-sm "
                  .float-right
                    = f.submit  @claim.new_record? ? "Create Claim" : "Finished",
                    :class => "btn btn-outline-success btn-sm "
