<%= simple_form_for @claim, remote: true, html: {class: "form-group"} do |f| %>
  <%= f.error_notification %>
  <%= f.input :user_ids,
                    label: 'Resposables',
                    label_method: :email,
                    value_method: :id,
                    collection: User.all,
                    include_blank: false,
                    input_html: {id: 'claim_user_ids', multiple: true}
  %><br><br>
  <%= f.input :ticket %>
  <%= f.input :client %>
  <div class="form-group">
    <%= f.submit  @claim.new_record? ? "Create Create" : "Update Claim", :class => "btn btn-primary" %>
  </div>
<% end %>
