.container
  %h2.text-center Claims
  .card.card-block.bg-faded.text-center
    = link_to new_claim_path, :remote => true do
      = fa_icon "plus-square-o", text: "NEW CLAIM", right: true, class: "fa-lg"
  .new-claim
  %table.table.table-bordered.table-striped{:id => ""}
    %thead.text-center
      %tr
        %th= fa_icon "ticket", text: "Ticket", right: true, class: "fa-lg"
        %th= fa_icon "tag", text: "Client", right: true, class: "fa-lg"
        %th= fa_icon "wrench", text: "Actions", right: true, class: "fa-lg"
    %tbody#claims
      = render @claims
  = render 'dialog'
  %br
  %br
  .row
    .col-1
      %i.fa.fa-calendar.fa-lg
    .col-10#calendar
    .col-1
      &nbsp&nbsp
      %i.fa.fa-calendar.fa-lg
