.container-fluid
  .row
    .col-sm-1
    .col-sm-9
      .container
      %h2.text-center Claims
      %p
        %strong Note:
        The
        %strong data-parent
        attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.
      #accordion.panel-group
        .panel.panel-defauls
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse",
               :href => "#collapse5", :id => "but"}
                .panel-body
                  %table.table.table-striped
                    %tbody
                      %th.col-sm-1{:class => ("glyphicon glyphicon-user")} Responsable
                      %th.col-sm-1{:class => ("glyphicon glyphicon-user")} Responsable
                      %th.col-sm-1{:class => ("glyphicon glyphicon-road")} Truck
          #collapse5.panel-collapse.collapse.border-collapse
            .panel-body
              %table.table.table-striped
                %tbody#tbody
                  %th.col-sm-1{:class => ("glyphicon glyphicon-paperclip")} Ticket
                  %th.col-sm-1{:class => ("glyphicon glyphicon-phone")} Client
                  %th.col-sm-1{:class => ("glyphicon glyphicon-user")} Responsable
                  %th.col-sm-1{:class => ("glyphicon glyphicon-user")} Responsable
                  %th.col-sm-1{:class => ("glyphicon glyphicon-eye-open")} Show
                  %th.col-sm-1{:class => ("glyphicon glyphicon-pencil")} Modify
                  %th.col-sm-1{:class => ("glyphicon glyphicon-trash")} Destroy
                %tbody
                  - @claims.each do |claim|
                    %tr
                      %td= claim.ticket
                      %td= claim.client
                      - if claim.has_responsable?
                        %td= claim.responsables.first.email
                        %td= ''
                        %td
                          = link_to claim_path(claim), class: 'btn btn-info btn-xs' do
                            = content_tag(:span, '', class: 'glyphicon glyphicon-eye-open')
                        %td
                          = link_to edit_claim_path(claim), class: 'btn btn-warning btn-xs' do
                            = content_tag(:span, '', class: 'glyphicon glyphicon-edit')
                        %td
                          = link_to claim_path(claim), class: 'btn btn-danger btn-xs', |
                            method: :delete, data: {confirm: 'Estas segur@?'} do       |
                            = content_tag(:span, '', class: 'glyphicon glyphicon-trash')
                      - else
                        %td
                          = claim.responsables.first.email
                        %td
                          = claim.responsables.second.email
                        %td
                          = link_to claim_path(claim), class: 'btn btn-info btn-xs' do
                            = content_tag(:span, '', class: 'glyphicon glyphicon-eye-open')
                        %td
                          = link_to edit_claim_path(claim), class: 'btn btn-warning btn-xs' do
                            = content_tag(:span, '', class: 'glyphicon glyphicon-edit')
                        %td
                          = link_to claim_path(claim), class: 'btn btn-danger btn-xs', |
                            method: :delete, data: {confirm: 'Estas seguro?'} do       |
                            = content_tag(:span, '', class: 'glyphicon glyphicon-trash')
