.col-sm-3
.col-sm-5
  %p
    %strong Ticket:
    = @claim.ticket

  %p
    %strong Client:
    = @claim.client
  - if @claim.has_responsable?
    %td= @claim.responsables.first.email
    %td
  - else
    %td
      = @claim.responsables.first.email
    %td
      = @claim.responsables.second.email

  = link_to 'Edit', edit_claim_path(@claim), remote: true
  = link_to 'Back', claims_path
