= simple_form_for @event, remote: true, html: {class: "form-group"} do |f|
  = f.error_notification

  .form-control
    .form-group.text-center
      %table.table-event
        %tr
          %td.td-event
            = f.date_field :star_time, value: params[:star_time]
          %td.td-event
            = f.date_field :end_time, :value => params[:end_time]
        %tr
          %td.td-event-1
            Type of Event :
          %td.td-event-2
            = f.select :type_event, @type_events
        %tr
          %td.td-event-1
            = f.label :users
          %td.td-event-2
            = f.collection_select :user_ids,
        @users, :id, :email,
        {include_blank: true},
        {:multiple => true, :id => 'event_user_ids'}

      %table
        %tr
          =f.input :description

  .form-group.text-center
    = f.submit  @event.new_record? ? "OK" : "Update",
    :class => "btn btn-outline-success btn-sm "
