= simple_form_for @event, remote: true, html: {class: "form-group"} do |f|
  = f.error_notification

  = f.date_field :star_time, value: params[:star_time]
  = f.date_field :end_time, :value => params[:end_time]

  = f.input :type_event, collection: @type_events

  = f.input :user_id, as: :Select2,     |
    label: 'User',                      |
    label_method: :email,               |
    collection: @users,                 |
    multiple: false,                    |
    input_html: {id: 'event_user_ids'}  |
  =f.input :description

  .form-group
    = f.submit  @event.new_record? ? "Create Create" : "Update Claim",
    :class => "btn btn-primary"
