%p#notice= notice
.card-group.card-event.card-event-show
  .card.border-info
    .card-body.text-center
      .card-group
        .card.card-event-container
          .card.card-event-data

            %table
              %td.align-middle
                %strong Type of Event
              %td.align-middle
                = @event.type_event

          .card.card-event-data
            %table
              %td.align-middle
                %strong Users :
              %td.align-middle
                - @event.users.each do | user|
                  = user.email

          .card.card-event-data
            %table
              %tr
                %td.align-middle
                  %strong Start time
                %td.align-middle
                  %strong End time
              %tr
                %td.align-middle
                  = @event.star_time
                %td.align-middle
                  = @event.end_time

          .card.card-event-data
            %table
              %td.align-middle
                %strong Description :
              %td.align-middle
                = @event.description

          .card-body.p-0

            = link_to 'Edit', edit_event_path(@event), remote: true, class: "btn btn-outline-success btn-sm  "
            = link_to ' Delete', @event, :method => :delete, class: "btn btn-outline-danger btn-sm "
            = link_to 'Back', events_path,class: "btn btn-outline-info btn-sm  "

= render 'dialog'
