%p#notice= notice
%p
  %strong Type of Event:
  = @event.type_event
%p
  %strong User :
  = @event.user_id
%p
  %strong Description :
  = @event.description
%p
  %strong Start time :
  = @event.star_time
%p
  %strong End time :
  = @event.end_time - 25.seconds

= link_to 'Edit', edit_event_path(@event), remote: true
= link_to ' Delete', @event, :method => :delete
= link_to 'Back', events_path
= render 'dialog'
