.card-group
  .card.border-info
    .card-header.text-center
      .row
        .col-4
        .col-4
          - if @tickets.empty?
            %h6= "HISTORY EMPTY"
          - else
            %h6= "HISTORY OF  " + " #{@client}"
        .col-4
          .float-right
            = link_to :back do
              = fa_icon "arrow-left", class: "fa-lg"
    - @tickets.each do |ticket|
      .card-body.text-center
        .card-header= "#{ticket.date}" + " >> "+ ticket_resposables(ticket)
        .card-body.p-0
          %table.table.table-striped
            %tbody
              %tr
                %td.d-inline-block.col-3 Nº Ticket
                %td.d-inline-block.col-3 Type
                %td.d-inline-block.col-3 Concluded
                %td.d-inline-block.col-3 Action
              %tr
                %td.d-inline-block.col-3 #{ticket.number}
                %td.d-inline-block.col-3 #{ticket.kind}
                %td.d-inline-block.col-3 #{ticket.status}
                %td.d-inline-block.col-3
                  = link_to ticket_path(ticket), :remote => true do
                    = fa_icon "eye", right: true, class: "fa-lg"
        .card-body.p-0
          %table.table.table-hover.mb-0
            %thead
            %tbody
              %tr.row.m-0
                %td.d-inline-block.col-12 #{ticket.observation}
