<!DOCTYPE html>
<html>
  <head>
    <title>Report</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>

  <body class="container-fluid">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
      <% if user_signed_in?%>
        <% if current_user.has_role? :dir or current_user.has_role? :admin%>
          <%= render 'menus/menu_dir' %>
        <%end%>
      <%end%>
    </main>
  </body>
</html>
